.container {
  max-width: 800px;
  margin: 0 auto;
}

.collapse-button {
  border: none;
  background-color: #3542f5;
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 3px;
  cursor: pointer;
}

.collapse-button:hover {
  border: none;
  background-color: #2b36cc;
}

.text-container {
  transition: 1s;
  height: 0px;
  overflow: hidden;
  transition: 1s;
}